<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Events</title>
</head>
<body>
<h1>Most probable results</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Home competitor</th>
        <th>Away competitor</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Probability</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "tempEvents:${events}" th:switch=true>
        <td th:text="${tempEvents.homeCompetitor.name}"></td>
        <td th:text="${tempEvents.awayCompetitor.name}"></td>
        <td th:text="${tempEvents.start_date}"></td>
        <td th:text="${tempEvents.venue.name}"></td>
        <td th:case="${tempEvents.probability_home_team_winner > tempEvents.probability_draw &&
                        tempEvents.probability_home_team_winner > tempEvents.probability_away_team_winner}">
            <span th:text="${tempEvents.probability_home_team_winner}"></span>
            <span> HOME</span>
        </td>
        <td th:case="${tempEvents.probability_away_team_winner > tempEvents.probability_draw &&
                        tempEvents.probability_away_team_winner > tempEvents.probability_home_team_winner}">
            <span th:text="${tempEvents.probability_away_team_winner}"></span>
            <span> AWAY</span>
        </td>
        <td th:case="${tempEvents.probability_draw > tempEvents.probability_home_team_winner &&
                        tempEvents.probability_draw > tempEvents.probability_away_team_winner}">
            <span th:text="${tempEvents.probability_draw}"></span>
            <span> DRAW</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>